# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Test artifacts
.pytest_cache/
.coverage
htmlcov/

# Environments
.venv/
venv/
ENV/
env/

# IDE / Editor artifacts
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db
desktop.ini
